<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="QLDaoTaoConnectionString"
             connectionString="Data Source=LAPTOP-0KJPG7NU\SQLEXPRESS;Initial Catalog=QLDaoTao;Integrated Security=True;"
             providerName="System.Data.SqlClient"/>
		<add name="QLSinhVienConnectionString"
             connectionString="Data Source=LAPTOP-0KJPG7NU\SQLEXPRESS;Initial Catalog=QLSinhVien;Integrated Security=True;"
             providerName="System.Data.SqlClient"/>
        <add name="QLNguoiDungConnectionString"
             connectionString="Data Source=LAPTOP-0KJPG7NU\SQLEXPRESS;Initial Catalog=QLNguoiDung;Integrated Security=True;"
             providerName="System.Data.SqlClient"/>
		<add name="QLTaiChinhConnectionString"
             connectionString="Data Source=LAPTOP-0KJPG7NU\SQLEXPRESS;Initial Catalog=QLTaiChinh;Integrated Security=True;"
             providerName="System.Data.SqlClient"/>
		<add name="QLNhanSuConnectionString"
             connectionString="Data Source=LAPTOP-0KJPG7NU\SQLEXPRESS;Initial Catalog=QLNhanSu;Integrated Security=True;"
             providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>